<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" />
</head>
<body>
	<h2>Products</h2>
	<div class="container mt-5">
		<div class="card">
			<div class="card-header">Liste des produits</div>
			<div class="card-body">
			
				<!-- Formulaire -->
				<form th:action="@{products}" method="get">
					<div class="mb-5">
						<label class="control-label">Mot clé:</label>
						<input class="p-1" type="text" name="motCle" th:value="${motCle}"></input>
						<button class="btn btn-primary">Chercher</button>
					</div>
				</form>
				
				<!-- tableau -->
				<table class="table">
					<tr>
						<th>ID</th>
						<th>designation</th>
						<th>prix</th>
						<th>quantite</th>
						<th></th>
					</tr>
					<tr th:each="p:${pageProduits.content}">
						<td th:text="${p.id}"></td>
						<td th:text="${p.designation}"></td>
						<td th:text="${p.prix}"></td>
						<td th:text="${p.quantite}"></td>
						<td><a class=" btn btn-danger" onclick="javascript: return confirm('Etes vous sûr de vouloir supprimer?')" 
							th:href="@{deleteProduit(id=${p.id}, page=${currentPage}, size=${size}, motCle=${motCle})}">supprimer</a></td>
					</tr>
				</table>
				<ul class="nav nav-pills">
					<li th:each="page,status:${pages}">
						<a th:class="${status.index==currentPage ? 'btn btn-primary' : 'btn'}" 
							th:href="@{products(page=${status.index}, size=${size}, motCle=${motCle})}" 
							th:text="${status.index + 1}"></a>
					</li>
				</ul>
			</div>
		</div>	
	</div>
</body>
</html>